@import '../../scss/mixins';
@import '../../scss/variables';

.Nav-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 10%;
}

body {
  background: rgb(54,18,91);
  background: linear-gradient(
    0deg,
  rgba(54,18,91,1) 0%,
  rgba(60,24,128,1) 53%,
  rgba(98,26,185,1) 100%
  );
  height: 120vh;
}

main {
  display: flex;
  overflow: auto;
  height: 100vh;
  margin: 0;
}