@import '../../scss/variables';
@import '../../scss/mixins';

.movie-card {
  @include rounded-corners(5px);
  height: 60vh;
  width: 40vh;
  margin: 1.5%;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.movie-card:hover {
  transform: scale(1.1);
}

.movie-poster-img {
  @include rounded-corners(5px 5px 0px 0px);
  height: 60vh;
  width: 40vh;
  margin-bottom: -19px;
}

.movie-card-bottom {
  @include rounded-corners(0px 0px 5px 5px);
  background: linear-gradient(0deg, rgba(133,143,143,1) 0%, rgba(10,7,0,1) 100%);
  text-align: center;
  width: 100%;
}

.movie-title {
  color: white;
  text-align: center;
  margin-top: 0px;
  font-family: $main-font
}

.average-rating {
  color: $gold;
  font-weight: bold;
  padding-top: .5em;
  font-family: $main-font
}

.user-rating {
  @extend .average-rating;
  padding-top: 0em;
  margin: -1em 0em 0em 0em;
  font-weight: normal;
  font-style: italic;
}

.movie-button {
  background-color: #30BD9E;
  @include rounded-corners(20px);
  font-size: 1.15em;
  margin-bottom: .75em;
    &:hover {
    font-weight: bold;
    cursor: pointer;
  }
  border: none;
  padding: .35em;
  width: 50%;
  font-family: $accent-font;
}