* {
  border: 1px solid red;
}

.movie-card {
  border: 1px solid black;
  height: 80vh;
  width: 50vh;
}

.movie-poster-img {
  height: 75%;
  width: 100%;
}

.movie-card-bottom {
  background: rgb(133,143,143);
  background: linear-gradient(0deg, rgba(133,143,143,1) 0%, rgba(10,7,0,1) 100%);
  text-align: center;
}

.movie-title {
  color: white;
  text-align: center;
}

.average-rating {
  color: #FFAC33;
}

.movie-button {
  background-color: #30BD9E;
  border-radius: 20px;
  font-size: 1.25em;
  margin-bottom: .75em;
    &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}
