$main-font: 'Open Sans', sans-serif;
$accent-font: 'Sanchez', serif;

$dark-grey: #263238;
$light-grey: #f5f5f5;
$gold: #ffca28;
$dark-blue-purp: #311b92;
$medium-grey: #eceff1;
$rich-purp: #4a148c;
$green: #30BD9E;