@import '../../scss/mixins';
@import '../../scss/variables';

header {
  @include rounded-corners(50px);
  width: 15%;
  margin: 2%;
  height: 4vh;
  background: rgb(224,224,224);
  background: linear-gradient(
    0deg, 
    rgba(224,224,224,1) 0%, 
    rgba(245,245,245,1) 100%
  );
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: smaller;
  
}

h1 {
  margin: 0%;
}

.login-button {
  @include rounded-corners(5px);
  background-color: $green;
  height: 40%;
  font-family: $accent-font;
  font-size: larger;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.login-button:hover {
  transform: scale(1.1);
}